<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReviewShield</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.png') }}"
      type=""
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/Login.css') }}"
    />
  </head>
  <body>
    <form action="/authenticate" method="post">
      <h2>Login Here</h2>
      <label for="user_id">User ID</label><br />
      <input
        type="text"
        id="user_id"
        name="user_id"
        placeholder="User ID"
      /><br />
      <label for="password">Password</label><br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      /><br /><br />
      <input type="submit" value="Log in" />
      {% if error %}
      <p class="error-message">{{ error }}</p>
      {% endif %}
    </form>
  </body>
</html>
